html {
  height: 100%;
}

.body {
  --links-size: 60px;
  --body-margin: 8px;
  --links-margin: 8px;
  --links-self-margin: 60px;
  overflow: hidden;
  margin: 0;
  height: 100%;
  display: flex;
}
.content {
  width: calc(100% - var(--body-margin) * 2);
  max-width: calc((100vh - var(--body-margin) * 2 - var(--links-size) - var(--links-margin)) * 2);
  margin: auto auto;
}
.content__links {
  margin: var(--links-margin) auto 0;
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.links__item {
  display: inline-block;
  flex-shrink: 0;
  width: var(--links-size);
  height: var(--links-size);
  opacity: 0.5;
  transition: transform 0.25s;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.links__item:hover,
.links__item:active,
.links__item:focus {
  outline: none;
  opacity: 1;
  transform: translateY(-3px);
}
.links__item:active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.02s;
}
.links__item_type_insta {
  background-image: url(../img/insta.png);
}
.links__item_type_fb {
  background-image: url(../img/fb.png);
}
.links__item_type_mail {
  background-image: url(../img/mail.png);
}
.links__item_type_insta-only {
  background-image: url(../img/insta_only.jpg);
  width: calc(var(--links-size) * 701 / 150);
}
